$m-1: 4px;
$m-2: 8px;
$m-3: 12px;
$m-4: 16px;
$m-5: 20px;
$m-6: 24px;
$m-7: 28px;
$m-8: 32px;
$m-9: 40px;
$m-10: 48px;
$m-11: 56px;

:export {
  m1: $m-1;
  m2: $m-2;
  m3: $m-3;
  m4: $m-4;
  m5: $m-5;
  m6: $m-6;
  m7: $m-7;
  m8: $m-8;
  m9: $m-9;
  m10: $m-10;
  m11: $m-11;
}
