@import "src/static/styles/colors";

.badgeContainer {
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 0.8em;
  color: var(--basic-w);
  background: var(--basic-400);
  font-weight: 600;

  &.primary {
    background: var(--cyan-400);
  }

  &.success {
    background: var(--success-530);
  }

  &.info {
    background: var(--blue-450);
  }

  &.danger {
    background: var(--danger-400);
  }

  &.secondary {
    background: var(--purple-420);
  }

  &.warning {
    background: var(--warning-600);
  }

  &:hover {
    background: var(--basic-300);

    &.primary {
      background: var(--cyan-330)
    }

    &.success {
      background: var(--success-400);
    }

    &.info {
      background: var(--blue-380);
    }

    &.danger {
      background: var(--danger-330);
    }

    &.secondary {
      background: var(--purple-360);
    }

    &.warning {
      background: var(--warning-500);
    }

    &.invert {
      background: var(--basic-070);

      &.primary {
        background: var(--cyan-80);
      }

      &.success {
        background: var(--success-80);
      }

      &.info {
        background: var(--blue-80);
      }

      &.danger {
        background: var(--danger-80);
      }

      &.secondary {
        background: var(--purple-80);
      }

      &.warning {
        background: var(--warning-80);
      }
    }
  }


  &.invert {
    background: var(--basic-050);
    color: var(--basic-400);

    &.primary {
      background: var(--cyan-50);
      color: var(--cyan-400);
    }

    &.success {
      background: var(--success-50);
      color: var(--success-600)
    }

    &.info {
      background: var(--blue-50);
      color: var(--blue-450);
    }

    &.danger {
      background: var(--danger-50);
      color: var(--danger-400);
    }

    &.secondary {
      background: var(--purple-50);
      color: var(--purple-420);
    }

    &.warning {
      background: var(--warning-50);
      color: var(--warning-600);
    }
  }
}